*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-font{
    font-family: "Noto Serif", serif;
}

.mx-width{
    max-width: 1140px;
    margin: 0px auto;
}

/* common styles */

.primary-color{
    color: rgba(233, 90, 8, 1);
}
.secondary-color{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.nav-container,
.nav-right ul,
.banner-container{
    display: flex;
}




/* header styles */
.nav-container{
    margin-top: 30px;
    margin-bottom: 114px;
}
.nav-container{
    justify-content: space-between;
    align-items: center;
}
.nav-right ul{
    gap: 48px;
}
.nav-right li{
    list-style: none;

}
.nav-right li:nth-child(2) .link{
   color:  rgb(137, 135, 161);

}
.nav-right li:nth-child(3) .link{
   color:  rgb(137, 135, 161);

}

.nav-right li  a{
    text-decoration: none;
    color:rgb(37, 36, 50);
}

.cart-icon{
    margin-right: 8px;
}


/* banner section styles */

.banner-container{
    align-items: end;
    margin-bottom: 120px;
}
.banner-left{
    flex: 1;
}
.banner-right{
    flex: 1;
}
.banner-tittle{
    font-size: 4rem;

}

.banner-right img{
    width: 100%;

}



/* responsive for mobile */
@media screen and (max-width:576px) {

    /* header responsive */
    .nav-container,
    .banner-left{
        padding-left: 16px;
        padding-right: 16px;
    }
    .mobile{
        display: none;
    }

    /* banner section responsive */
    .banner-container{
        flex-direction: column-reverse;
    }
    
    
    
}