*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-font{
    font-family: "Noto Serif", serif;
}
.primary-button {
   background-color: rgb(233, 90, 8);
   padding: 19px 50px;
   border: none;
   color: white;
   font-weight: 600;
}

.mx-width{
    max-width: 1140px;
    margin: 0px auto;
}

/* common styles */
img{
    width: 100%;

}

.primary-color{
    color: rgba(233, 90, 8, 1);
}
.secondary-color{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.nav-container,
.nav-right ul,
.banner-container{
    display: flex;
}

.section-description{
    font-size: 3rem;
    font-weight: 700;
}




/* header styles */
.nav-container{
    margin-top: 30px;
    margin-bottom: 114px;
}
.nav-container{
    justify-content: space-between;
    align-items: center;
}
.nav-right ul{
    gap: 48px;
}
.nav-right li{
    list-style: none;

}
.nav-right li:nth-child(2) .link{
   color:  rgb(137, 135, 161);

}
.nav-right li:nth-child(3) .link{
   color:  rgb(137, 135, 161);

}

.nav-right li  a{
    text-decoration: none;
    color:rgb(37, 36, 50);
}

.cart-icon{
    margin-right: 8px;
}


/* banner section styles */

.banner-container{
    align-items: end;
    margin-bottom: 120px;
}
.banner-left{
    flex: 1;
}
.banner-right{
    flex: 1;
}
.banner-tittle{
    font-size: 4rem;

}



/* our plant style */
.our-plant-container{
    text-align: center;
   
}

.our-plant-top p{
    padding:0px 126px;
    margin-top: 16px;
}
.our-plant-bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 30px;
     margin-top: 49px;
}
.card button{
    width: 100%;

}
.flower-name,
.flower-price{
    font-size: 1.37rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
}
.flower-price{
   font-weight: 700;
   margin-top: 36px;
   margin-bottom: 30px;
}



/* responsive for mobile */
@media screen and (max-width:576px) {

    /* header responsive */
    .nav-container,
    .banner-left,
    .our-plant-bottom{
        padding-left: 16px;
        padding-right: 16px;
    }
    .mobile{
        display: none;
    }
    .primary-button{
        padding: 19px 30px;
        
    }

    /* banner section responsive */
    .banner-container{
        flex-direction: column-reverse;
    }
    


    /* main section responsive */
    .our-plant-top p{
        padding-left: 28px;
        padding-right: 28px;
    }
    .our-plant-bottom{
        grid-template-columns: repeat(2,1fr);
    }
    
    
    
}